@import url('./style.css');

body {
   text-align: center;
   padding: 20px 20px;
   border-radius: 30px;
}

.imf {
   padding: 50px;
   grid-template-rows: 400px 400px;
   grid-gap: 20px;
}

.imf4 p:hover {
   color: pink;
}